#bar {
	background: #4080bf;
	padding:10px 20px;
	text-align:right;
	color:#f6dde3;
	height: 35px;
}

#bar {
	margin: 0 10px;
}

#header {
	margin:0 1px;
	font-size: 17px;
	width: 100%;
}

#main-content {
	margin:0 auto;
}

.box {
	background: #ebebe0;
	border:1px solid #f0e9eb;
}

.box a {
	color: blue;
	text-decoration: none;
}

.box2 {
	background: #ebebe0;
	border:solid 2px, #f0e9eb;
	border-top: 10px;
	border-bottom: 10px;
	height: 130px;
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.contain{
  font: 29px Helvetica,sans-serif;
}

.bar2 a {
	color: white;
	text-decoration: none;
	margin: 20px;
	font-size: 18px;
}

.sidebar {
	width: 218px;
	padding: 10px 25px;
	float: right;
}

.sidebar2 {
	float: right;
}

.bar2{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

body{
	background: linear-gradient(to bottom right, white, gray);
}

.goal{
	margin-left: 150px;
}

.education{
	margin-left: 170px;
}

.experience{
	margin-left: 170px;
}

.skill{
	margin-left: 200px;
}

.flex-test{
	float: left;
}

.south a{
margin: 30px;
}

.north a{
margin: 30px;
}

.east a{
margin: 30px;
}
