#bar {
	background:#06a;
	padding:10px 20px;
	text-align:right;
	color:#f6dde3;
	height: 25px;
}

#bar {
	margin: 0 10px;
}

#header {
	margin:0 1px;
	font-size: 17px;
	width: 100%;
}

#main-content {
	margin:0 auto;
}

#left-column {
	width:300px;
	padding:0 30px 30px;
	float:left;
}

.box {
	background:#f7f7f7;
	border:1px solid #f0e9eb;
}

.box a {
	color: blue;
	text-decoration: none;
}

.box2 {
	background:#f7f7f7;
	border:1px solid #f0e9eb;
	padding:15px;
}

.contain{
	margin-bottom: 20px;
	font: normal 21px Georgia, serif;
	color: black;
	padding-top: 15px;
	padding-left: 25px;
}

.bar2 a {
	color: white;
	text-decoration: none;
	margin: 20px;
	font-size: 18px;
}

.sidebar {
	width: 218px;
	margin:0 auto;
	padding: 10px 25px;
	background:url('http://img404.imageshack.us/img404/3092/shadowh.jpg') no-repeat top;
}
